* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    list-style: none;
}

body {
    background: #181818;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

main {
    border-radius: 20px;
    background: #1E1E1E;
    width: 60vh;
    height: 95%;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px 40px;
    color: white;
    gap: 5px;
}

h1 {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
}

.formaDePagamento {
    display: flex;
    gap: 25px;
    width: 100%;
}

.pagamento {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input {
    border-radius: 5px;
    border: 1px solid #181818;
    background-color: #181818;
    display: flex;
    padding: 5px 10px;
    align-items: center;
    width: 100%;
    color: white;
}

.formaDePagamento input {
    width: auto;
    display: flex;
    flex-direction: row;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    color: white;
}

#btnDados {
    background-color: #0C513C;
}

#btnDados:hover {
    background-color: #0c513cb0;
}

h3 {
    font-size: 13px;
    font-weight: 500;
}

.divCartao {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.btnPagar {
    background-color: #037754;
}

.btnPagar:hover {
    background-color: #0377549c;
}

select {
    border-radius: 5px;
    border: none;
    color: #f5f5f5;
    background-color: #181818;
    padding: 3px;
    font-size: 12px;
}

.divPix {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

#formCartao,
#formPix,
#paragrafoTotal {
    width: 100%;
    display: none;
}

#paragrafoTotal {
    font-weight: bold;
}